 @font-face {
    font-family: "OCR A Std";
    src: url("./services/css/OCRAStd.ttf") format("ttf");
   }
.background_image{
    background: url('../img/background-support.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}
#bloc-form{
    position: relative;
    top: 27.5em;
    padding: 10px;
}/*
.m-top{
    margin-top: 35% !important;
}

.img-connexion{
    width: 100%;
    margin-top: -86px;
}
*/
#bloc-img{
    position: relative;
    top: -6.8em;
    buttom: 0em;
    height: 50px;
}
.img-connexion{
    width: 100%;
}
input.rounded {
    font-family: "OCR A Std";
    border-radius: 10px;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
}
input.rounded:focus {
        border-color: #339933;
}
.padding-10{
    padding: 10px !important;
}
.form-group{
    padding: 10px !important;
}
.btn.btn-success {
background-color: #7a2425;
}